{% extends "layouts/base.html" %}
{% block title %} About Us {% endblock %}
{% block content %}
<div class="content">
  <br>
  <h1>About Us</h1>
  <!-- form inputs -->
  <div class="row">
      <div class="card">
          <div class="col-12" style="margin-top: 15px; margin-bottom: 15px;">
            <p>We're a group of university students looking to create meaningful</p>
            <p>change with the skills we have developed from our studies.</p>
            <p>Hailing from Monash University, we enjoy putting ourselves </p>
            <p>to the test by engaging with the community and creating solutions</p>
            <p>we think can create positive social change.</p>

            <button type="button" class="btn" onclick="cancel()">Return to home</button>
          </div>
      </div>
  </div>
</div>

<script>
  function cancel() {
    location.href = "{{url_for('serve_home')}}"
  }
</script>
{% endblock %}