{% extends "layouts/base.html" %}
{% block title %} Classroom {% endblock %}
{% block content %}

<p></p>>
<div style="margin-left: 15%;">
<h1>Classroom - {{classroomId}}</h1>

<div class="flex-container" >
  <h2>Test Papers</h2>

  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header">
            <h4 class="card-title"> Simple Table</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter " id="">
                <thead class=" text-primary">
                <tr>
                  <th>Test Name</th>
                  <th>Edit Test</th>
                  <th>Mark Test</th>
                </tr>
                </thead>
                {% for test_paper in test_papers %}
                <tr>
                  <td>{{test_paper.tp_id}}</td>
                  <td>hello</td>
                  <td>hello</td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="flex-container">
  <h2>Students</h2>
  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header">
            <h4 class="card-title"> Simple Table</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter">
                <thead class=" text-primary">
                <tr>
                  <th>Name</th>
                  <th>View</th>
                </tr>
                </thead>
                {% for student in students %}
                <tr>
                  <td>{{student[1]}}</td>
                  <td>
                    <form action="{{url_for('serve_student_graph', s_id = student.id)}}" method="POST">
                      <input name="s_id" type="hidden" value="{{student.id}}">
                      <button type="submit">View</button>
                    </form>
                  </td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{{ classrooms }}
{% endblock %}