{% extends "layouts/base.html" %}
{% block title %}Radar Chart{% endblock %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Radar Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<div class="content">
    <br>
    <h1>{{student.s_name}} - {{classroom_id}}</h1>    
    <canvas id="radarChart" style="max-height: 600px;" colours="[ { fillColor: '#ffff00' }, { fillColor: '#0066ff' } ]"></canvas>

    <form action="{{url_for('serve_classroom', cl_id=classroom_id)}}" class="content" style="margin-top: 15px; margin-bottom: 15px;">
        <input type="submit" class="btn" value="Return to classroom">
    </form>
</div>


<script>
    const ctx = document.getElementById('radarChart').getContext('2d');
    new Chart(ctx, {
        type: 'radar',
        data: {
            labels: {{skillnames | safe}},
            datasets: [{
                label: '{{student.s_name | safe}}',
                data: {{studattributes | safe}}
            }, {
                label: 'Class Average',
                data: {{attributes | safe}},
                
            }]
        },
        options: {
            plugins:{
                labels:{
                    render: 'label',
                    color:"white"
                }
            },
            responsive: true,
            legend: {
                labels: {
                    color: "white",
                    size: 18
                }
            },
            scales: {
                r: {
                    beginAtZero: true,
                    suggestedMax: 100,
                    ticks:{
                        backdropColor: 'rgb(0,0,0,0)',
                        color:'white'
                    }
                }
            }
        }
    });
</script>

{% endblock %}