{% extends "layouts/base.html" %}
{% block title %}Radar Chart{% endblock %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Radar Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<div class="content">
    <br>
    <h1>{{student.s_name}}</h1>
    <canvas id="radarChart" style="max-height: 800px;"></canvas>
</div>




<script>
    const ctx = document.getElementById('radarChart').getContext('2d');
    new Chart(ctx, {
        type: 'radar',
        data: {
            labels: {{skillnames | safe}},
            datasets: [{
                data: [20, 50, 60, 100, 70, 40, 10, 100]
            }]
        },
        options: {
            responsive: true,
            scales: {
                r: {
                    beginAtZero: true,
                    suggestedMax: 100
                }
            }
        }
    });
</script>

{% endblock %}