{% extends "layouts/base.html" %}
{% block title %}Radar Chart{% endblock %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Radar Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<div class="content">
    <br>
    <h1>{{student.s_name}} - {{classroom_id}}</h1>
    <canvas id="radarChart" style="max-height: 600px;"></canvas>
</div>




<script>
    const ctx = document.getElementById('radarChart').getContext('2d');
    new Chart(ctx, {
        type: 'radar',
        data: {
            labels: {{skillnames | safe}},
            datasets: [{
                label: '{{student.s_name | safe}}',
                data: {{studattributes | safe}}
            }, {
                label: 'Class Average',
                data: {{attributes | safe}}
            }]
        },
        options: {
            responsive: true,
            scales: {
                r: {
                    beginAtZero: true,
                    suggestedMax: 100,
                    backgroundColor: Color('black')
                }
            }
        }
    });
</script>

{% endblock %}