{% extends "layouts/base.html" %}
{% block title %} Edit Test {% endblock %}
{% block content %}
<div class="content">
  <p></p>
  <h1> Edit Test - {{classroom_testpaper.get_cltp_name()}} </h1>

  <div class="flex-container" style="flex: 1; margin-right: 10px;">
    <h2>Test Papers</h2>
    <div class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="card ">
            <div class="card-header">
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <form action="{{url_for('serve_classroom', cl_id=classroom_testpaper.get_cl_id())}}" method="POST">
                  <table class="table tablesorter " id="">
                    <thead class=" text-primary">
                    <tr>
                      <th>Question #</th>
                      <th>Question Text</th>
                      <th>Marks</th>
                    </tr>
                    </thead>
                    {% for question in questions %}
                    <tr>
                      <td>{{question.get_question_no()}}</td>
                      <td><input name="q_text{{question.get_question_no()}}" style="width: 100%" type="text"
                                 value="{{question.get_question_text()}}"></td>
                      <td><input name="q_marks{{question.get_question_no()}}" type="number" value={{question.get_question_total_mark()}}>
                      </td>
                    </tr>
                    {% endfor %}
                  </table>
                  <!--                    Save button-->
                  <button type="submit">Save</button>

                  <!--                  Cancel button-->
                  <a href="{{url_for('serve_classroom', cl_id=classroom_testpaper.get_cl_id())}}">Cancel</a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}