{% extends "layouts/base.html" %}
{% block title %} Mark Test {% endblock %}
{% block content %}
<div class="content">
  <br>
  <h1>Mark Test "{{classroom_testpaper.get_cltp_name()}}"</h1>

  <div class="row">
    <div class="card" style="padding: 15px; padding-bottom: 0px;">
      <div class="table-responsive">
        <table class="table tablesorter" style="width: 100%;">
          <thead class=" text-primary">
          <tr>
            <th style="width: 10%;">#</th>
            <th style="width: 70%;">Student</th>
            <th style="text-align:center; width: 70%;" align="right">Mark Test</th>
          </tr>
          </thead>
          {% for student in students %}
          <tr>
            <td>{{student[0]}}</td>
            <td>{{student[1]}}</td>
            <td align="center">
              <form action="{{url_for('serve_testpaper_mark', cl_id=cl_id, tp_id=classroom_testpaper.get_tp_id(), s_id=student[0])}}"
                    method="POST">
                <input name="cl_id" type="hidden" value="{{cl_id}}">
                <input name="tp_id" type="hidden" value="{{classroom_testpaper.get_tp_id()}}">
                <input name="s_id" type="hidden" value="{{student[0]}}">
                <button type="submit" class="btn"><i class="tim-icons icon-pencil"></i></button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
        <div class="col-12" style="margin-top: 15px; margin-bottom: 15px;">
          <button type="button" class="btn" onclick="cancel()">Return to home</button>
        </div>
    </div>
  </div>
</div>

<script>
  function cancel() {
    location.href = "{{url_for('serve_classroom', cl_id=classroom_testpaper.get_cl_id())}}"
  }
</script>
{% endblock %}