{% extends "layouts/base.html" %}
{% block title %} Edit Test {% endblock %}
{% block content %}
<div class="content">
  <br>
  <h1> Edit Test - {{classroom_testpaper.get_cltp_name()}} </h1>

  <div class="flex-container" style="flex: 1; margin-right: 10px;">
    <h2>Test Papers</h2>
    <div class="row">
      <div class="card" style="padding: 15px; padding-bottom: 0px;">
        <div class="table-responsive">
          <form action="{{url_for('save_testpaper', cl_id=classroom_testpaper.get_cl_id(), tp_id=classroom_testpaper.get_tp_id())}}" method="POST">
            <input name="cl_id" type="hidden" value="{{classroom_testpaper.get_cl_id()}}">
            <input name="tp_id" type="hidden" value="{{classroom_testpaper.get_tp_id()}}">
            <input name="q_length" type="hidden" value="{{questions|length}}">
            
            <!-- table -->
            <table class="table tablesorter " id="">
              <thead class=" text-primary">
              <tr>
                <th>Question #</th>
                <th>Question Text</th>
                <th>Marks</th>
              </tr>
              </thead>
              {% for question in questions %}
              <tr>
                <td>{{question.get_question_no()}}</td>
                <td><input name="q_text{{question.get_question_no()}}" style="width: 100%" type="text"
                            value="{{question.get_question_text()}}"></td>
                <td><input name="q_marks{{question.get_question_no()}}" type="number" value={{question.get_question_total_mark()}}>
                </td>
              </tr>
              {% endfor %}
            </table>

            <!-- Save button -->
            <button type="submit" class="btn">Save</button>

            <!-- Cancel button -->
            <button type="button" class="btn" onclick="cancel()">Cancel</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function cancel() {
    location.href = "{{url_for('serve_classroom', cl_id=classroom_testpaper.get_cl_id())}}"
  }
</script>
{% endblock %}